* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: helvetica;
}
header {
    width: 100%;
    max-width: 1600px;
    height: 200px;
    background-color: #095c5c;
    background-image: url(img/1420.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 0;
    flex-shrink: 1;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 60px;
    color: #ffffff;
    background-color: #0b114b;
    flex-grow: 0;
    flex-shrink: 1;
}
#main-section {
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.left-panel {
    display: flex;
    flex-basis: 250px;
    justify-content: center;
    height: 200px;
    background-color: #915dcc;
    color: #ffffff;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}